.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(90 102 156);
  color: rgb(220, 225, 249);
  border-color: rgb(52, 59, 91);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bolder;
  margin-left: 20px;
}

.button:hover {
  background-color: #31395d;
  color: rgb(172, 185, 251);;
}
